body {
  background-color: rgb(98, 98, 98);
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-family: Rubik Mono One;
  text-shadow: black 10px 10px;
  letter-spacing: 1px;
}

p {
  border: 1px;
  font-family: Permanent Marker;
  font-size: 72;
  top: 25%;
  bottom: 25%;
  position: relative;
  bottom: 550px;
  width: 800px;
  margin: auto;
  text-align: left;
}

button {
  font-family: Rubik Mono One;
  position: relative;
  top: -25px;
}

#relative {
  position: relative;
  top: 25px;
}

form {
  font-family: Rubik Mono One;
  width: 250px;
  color: white;
}

input {
  width: 170px;
}

input[name="Qtn"] {
  height: 200px;
}

#wb {
  width: 1000px;
  height: auto;
}

#projects {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100px;
  gap: 20px;
  justify-content: center;
}
