body {
  background-color: rgb(98, 98, 98);
}

h1 {
  color: white;
  text-align: center;
  font-family: Rubik Mono One;
  text-shadow: black 10px 10px;
  letter-spacing: 1px;
}

p {
  border: 1px;
  font-family: Permanent Marker;
  top: 25%;
  bottom: 25%;
  position: relative;
  bottom: 375px;
  width: 90%;
  margin: auto;
}

button {
  font-family: Rubik Mono One;
  position: relative;
}

form {
  font-family: Rubik Mono One;
}

img {
  width: 100%;
  height: auto;
}
